<div>
        <p style="color:red"><%=msg%></p>
    <form action="" enctype="" method="post">
        <table item-width="100%">
            <tr>
                <td>First-Name</td>
                <td>
                    <input type="text" name="first_name" value="">
                </td>
            </tr>
            <tr>
                    <td>Last-Name</td>
                    <td>
                        <input type="text" name="last_name" value="">
                    </td>
                </tr>
            <tr>
                <td>E-mail</td>
                <td>
                    <input type="text" name="email" value="">
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="text" name="password" value="">
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" name="Save" value="Save">
                </td>
            </tr>
        </table>
    </form>
</div>